body{
    margin: 0;
}
.top {
    width: 100%;
    height: 160px;
    background-color: rgb(22, 140, 236);
    background-image: url('./img/pattern.png');
}

main{
    margin: 8px;
}

.booleaner{
    color: rgb(79, 211, 255);
}

.margini{
    margin-top: 2px;
    margin-bottom: 2px;
}

.colorato{
    background-color: yellow;
}

table{
    width: 2000px;
    text-align: left;
}

thead{
    background-color: aqua;
    color: white;
}

.blue{
    background-color: lightskyblue;
}

.white{
    background-color: white;
}

footer{
    margin: 8px;
}

.text{
    color: rgba(0, 0, 0, 0.397)
}

.img{
    color: white;
    height: 200px;
}

.img.uno{
    background-image: url('./img/monitor.jpg');
    background-repeat: no-repeat;
}

.img.due{
    background-image: url('./img/graph.jpg');
    background-repeat: no-repeat;
}